<div class="course-selection">
  <label for="input">Select a course:</label>
  <mat-radio-group [(ngModel)]="selectedValue" class="radio-group-vertical">
    <mat-radio-button class="course" *ngFor="let course of input" [value]="course">{{course.name}}</mat-radio-button>
  </mat-radio-group>
</div>

<div class="button-container">
  <button mat-raised-button color="primary" class="primary" (click)="reassign()">Reassign</button>
  <button mat-raised-button color="warn" class="warn" (click)="close()">Close</button>
</div>
