/* Styles for the profile icon */
.profile-icon-container {
    display: inline-flex;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
    width: 60px; /* Adjust button size as needed */
    height: 60px; /* Adjust button size as needed */
    background-color: #007bff; /* Your desired background color */
    color: #ffffff; /* Text color */
    border-radius: 50%; /* Ensures it's a circle */
    margin-right: 80px; /* Adjust spacing as needed */
    overflow: visible;
}

.profile-icon{
    position: fixed;
    font-size: 60px;
    margin-right: 35px;
    margin-top: -36px;
    overflow: visible;
}

.profile-icon-container {
    background-color: #0056b3; /* Change color on hover */
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
