.profile-icon-container {
    display: inline-table;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
    width: 60px; /* Adjust button size as needed */
    height: 60px; /* Adjust button size as needed */
    color: #ffffff; /* Text color */
    margin-right: 80px; /* Adjust spacing as needed */
    overflow: visible;
}

.profile-icon{
    font-size: 60px;
    margin-right: 35px;
    overflow: visible;
}

.logout-icon{
    font-size: 60px;
    margin-right:35px;

    overflow:visible;
}
.logout-icon-container {
    display: inline-table;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
    width: 60px; /* Adjust button size as needed */
    height: 60px; /* Adjust button size as needed */
    color: #ffffff; /* Text color */
    margin-left: 80px; /* Adjust spacing as needed */
    overflow: visible;
}

.profile-icon-container{
    display: inline-table;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
    width: 60px; /* Adjust button size as needed */
    height: 60px; /* Adjust button size as needed */
    color: #ffffff; /* Text color */
    margin-left: 170px; /* Adjust spacing as needed */
    overflow: visible;
}
.home-icon-container{
    display: inline-table;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: #ffffff;
    overflow: visible;
    margin-left: 165px;
}
.home-icon{
    font-size: 60px;
    margin-right: 35px;
    overflow: visible;
}