<app-sidebar></app-sidebar>
<mat-card>
  <mat-tab-group animationDuration="500ms">
    <mat-tab label="Courses">
      <mat-card-header>
        <mat-card-title>Courses</mat-card-title>
        <mat-card-subtitle class="button_search">
          <button mat-raised-button color="primary" (click)="openDialog(null)">Add Course</button>
          <input matInput placeholder="Search" (keyup)="filterChange($event)" style="height: 25px; margin: 10px; border-radius: 1rem; border-color: black;">
        </mat-card-subtitle>
      </mat-card-header>

      @if(status == 'false'){
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Export enrollments</mat-panel-title>
          </mat-expansion-panel-header>

            <form [formGroup]="form">
              <mat-form-field appearance="outline">
                <mat-label>Choose Export Type</mat-label>
                <mat-select formControlName="exportType" (selectionChange)="onExportTypeChange($event)">
                    <mat-option value="custom">Custom Export</mat-option>
                    <mat-option value="template">Create Template</mat-option>
                    <mat-option *ngFor="let template of templates" [value]="template">{{ template.name }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Faculty Section</mat-label>
                <mat-select formControlName="facultySection">
                  <mat-option value="">None</mat-option>
                  <mat-option *ngFor="let section of facultySections" [value]="section">{{ section }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Year</mat-label>
                <mat-select formControlName="year">
                  <mat-option value="">None</mat-option>
                  <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                </mat-select>
              </mat-form-field>

              <div>
                <p>Include:</p>
                <mat-checkbox formControlName="includeYear">Year of Study</mat-checkbox>
                <mat-checkbox formControlName="includeSection">Faculty Section</mat-checkbox>
                <mat-checkbox formControlName="includeCourseName">Course Name</mat-checkbox>
                <mat-checkbox formControlName="includeStudentName">Student Name</mat-checkbox>
                <mat-checkbox formControlName="includeTeacher">Teacher Name</mat-checkbox>
                <mat-checkbox formControlName="includeStudentMail">Student Email</mat-checkbox>
                <mat-checkbox formControlName="includeGrade">Student Grade</mat-checkbox>
                <mat-checkbox formControlName="includeCategory">Course Category</mat-checkbox>
                <mat-checkbox formControlName="includeNumOfStudents">Number of Students</mat-checkbox>
                <mat-checkbox formControlName="includeAVGGrade">Average Grade of Students</mat-checkbox>
              </div>
              
              @if(form.get('exportType')?.value === 'custom') {
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Extension</mat-label>
                    <mat-select formControlName="extension">
                      <mat-option value="pdf">pdf</mat-option>
                      <mat-option value="csv">csv</mat-option>
                      <mat-option value="excel">excel</mat-option>
                    </mat-select> 
                  </mat-form-field>
                </div>

                <button mat-raised-button color="primary" (click)="exportData()">Export Data</button>
              }
              
              @if(form.get('exportType')?.value === 'template'){
                <mat-form-field appearance="outline">
                <mat-label>Template Name</mat-label>
                    <input matInput formControlName="templateName" placeholder="Enter template name">
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="createTemplate()">Create Template</button>
              }
              
              @if (form.get('exportType')?.value != 'template' && form.get('exportType')?.value != 'custom') {
                <mat-form-field appearance="outline">
                    <mat-label>Template Name</mat-label>
                    <input matInput formControlName="templateName" placeholder="Template name">
                </mat-form-field>
    
                <button mat-raised-button color="primary" (click)="updateTemplate(form.get('exportType')?.value.id)">Update</button>
                <button mat-raised-button color="primary" (click)="deleteTemplate(form.get('exportType')?.value.id)">Delete</button>

                <mat-form-field appearance="outline">
                    <mat-label>Extension</mat-label>
                    <mat-select formControlName="extension">
                        <mat-option value="pdf">pdf</mat-option>
                        <mat-option value="csv">csv</mat-option>
                        <mat-option value="excel">excel</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="exportData()">Export Data</button>
              }
            </form>
          </mat-expansion-panel>
        }

      <mat-card-content style="margin: 30px auto; padding: 10px; border-radius: 2rem; border: 3px solid black; width: 94%; max-width: 96%; overflow-x: auto; background-color: white;">
        <table mat-table [dataSource]="dataSource" matSort style="padding: 5px; width: 100%;">
          <!-- NAME -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div mat-sort-header>Name</div>
                <mat-form-field class="filter" style="width: 300px; margin-top: 20px;">
                  <input matInput (keyup)="applyColumnFilter($event, 'name')" placeholder="Filter Name" style="height: 30px; text-align: center;">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
              <mat-expansion-panel hideToggle (opened)="displayScheduleDetails(element.id)">
                <mat-expansion-panel-header>
                  <mat-panel-title>{{ element.name }}</mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <button mat-raised-button (click)="getDetails(element.id)">Go to course page</button>
                  <p>Description: {{element.description}}</p>
                  @if(scheduleDetails[element.id]){
                      <p>Day: {{ scheduleDetails[element.id].day }}</p>
                      <p>Time: {{ scheduleDetails[element.id].startTime }} - {{ scheduleDetails[element.id].endTime }}</p>
                  }
                  @else{
                      <p>No schedule available</p>
                  }
                </div>
              </mat-expansion-panel>
            </td>
          </ng-container>

          <!-- CATEGORY -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div mat-sort-header>Category</div>
                <mat-form-field class="filter" style="width: 150px; margin-top: 20px;">
                  <input matInput (keyup)="applyColumnFilter($event, 'category')" placeholder="Filter" style="height: 30px; text-align: center;">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.category }}</td>
          </ng-container>

          <!-- Faculty Section -->
          <ng-container matColumnDef="facultySection">
            <th mat-header-cell *matHeaderCellDef>
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div mat-sort-header>Faculty Section</div>
                <mat-form-field class="filter" style="width: 100px; margin-top: 20px;">
                  <input matInput (keyup)="applyColumnFilter($event, 'facultySection')" placeholder="Filter" style="height: 30px; text-align: center;">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.facultySection }}</td>
          </ng-container>

          <!-- Maximum Students Allowed -->
          <ng-container matColumnDef="maximumStudentsAllowed">
            <th mat-header-cell *matHeaderCellDef>
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div mat-sort-header>Maximum Students</div>
                <mat-form-field class="filter" style="width: 100px; margin-top: 20px;">
                  <input matInput (keyup)="applyNumberFilter($event, 'maximumStudentsAllowed')" placeholder="Filter" style="height: 30px; text-align: center;">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.maximumStudentsAllowed }}</td>
          </ng-container>

          <!-- Students Number -->
          <ng-container matColumnDef="numberOfStudents">
            <th mat-header-cell *matHeaderCellDef>
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div mat-sort-header>{{ status === 'true' ? 'Students Number' : 'Students Accepted' }}</div>
                <mat-form-field class="filter" style="width: 100px; margin-top: 20px;">
                  <input matInput (keyup)="applyNumberFilter($event, 'numberOfStudents')" placeholder="Filter" style="height: 30px; text-align: center ;">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.numberOfStudents }}</td>
          </ng-container>

          <!-- TEACHER -->
          <ng-container matColumnDef="teacherName">
            <th mat-header-cell *matHeaderCellDef>
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div mat-sort-header>Teacher</div>
                <mat-form-field class="filter" style="width: 100px; margin-top: 20px;">
                  <input matInput (keyup)="applyColumnFilter($event, 'teacherName')" placeholder="Filter" style="height: 30px; text-align: center;">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.teacherName }}</td>
          </ng-container>

          <!-- YEAR -->
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div mat-sort-header>Year</div>
                <mat-form-field class="filter" style="width: 100px; margin-top: 20px;">
                  <input matInput (keyup)="applyColumnFilter($event, 'year')" placeholder="Filter" style="height: 30px; text-align: center;">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.year }}</td>
          </ng-container>

          <!-- ACTION -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; align-items: center;">Action</th>
            <td mat-cell *matCellDef="let element">
              @if(status == 'true'){
                  <button mat-raised-button color="primary" (click)="openDialog(element)">Edit</button>
                  <button mat-raised-button color="warn" (click)="onDelete(element.id)">Delete</button>
              }
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>

      <mat-card-footer style="margin-top: -30px;">
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </mat-card-footer>
    </mat-tab>
    <mat-tab label="Students">
      <app-admin-students></app-admin-students>
    </mat-tab>
  </mat-tab-group>
</mat-card>
