<app-top-bar></app-top-bar>

<mat-card>
  <mat-card-header>
    <mat-card-title>Courses</mat-card-title>
    <mat-card-subtitle>
      <button mat-raised-button color="primary" (click)="openDialog(null)">Add Course</button>
      <mat-form-field appearance="outline" style="margin-left: 50px; margin-bottom: 20px; height: 60px;">
        <input matInput placeholder="Search" (keyup)="filterChange($event)" style="height: 20px;">
      </mat-form-field>
    </mat-card-subtitle>
    @if(status == 'true'){
      <mat-card-subtitle>
        <button mat-raised-button color="primary" (click)="closePeriod()">Close Period</button>
      </mat-card-subtitle>
      }
      @else{
        <form [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Faculty Section</mat-label>
            <mat-select formControlName="facultySection">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let section of facultySections" [value]="section">{{ section }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Year</mat-label>
            <mat-select formControlName="year">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="exportPDF()">Export PDF</button>
        </form>
        
      }
    </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> {{element.name }}</mat-panel-title>
              <mat-panel-description> {{element.description}} </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
               <button mat-button (click)="getDetails(element.id)">{{ element.name }}</button>
                <!-- <button mat-button (click)="displayScheduleDetails(element.id)">{{ element.name }}</button> -->
                
                @if(courseSchedule != undefined){
                  <p><strong>Day:</strong> {{ courseSchedule.day }}</p>
                  <p><strong>Start Time:</strong> {{ courseSchedule.startTime }}</p>
                  <p><strong>End Time:</strong> {{ courseSchedule.endTime }}</p>
                }
                @else{
                    <p><strong>No schedule available</strong></p>
                }
                
            </p>
          </mat-expansion-panel>
          <!--  -->
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <ng-container matColumnDef="facultySection">
        <th mat-header-cell *matHeaderCellDef>Faculty Section</th>
        <td mat-cell *matCellDef="let element">{{ element.facultySection }}</td>
      </ng-container>

      <ng-container matColumnDef="maximumStudentsAllowed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Max Students</th>
        <td mat-cell *matCellDef="let element">{{ element.maximumStudentsAllowed }}</td>
      </ng-container>

      <ng-container matColumnDef="numberOfStudents">
        @if(status == 'true'){
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Students Enrolled</th>
          }
          @else{
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Students Accepted</th>
          }
        <td mat-cell *matCellDef="let element">{{ element.numberOfStudents }}</td>
      </ng-container>

      <ng-container matColumnDef="teacherName">
        <th mat-header-cell *matHeaderCellDef>Teacher</th>
        <td mat-cell *matCellDef="let element">{{ element.teacherName }}</td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
        <td mat-cell *matCellDef="let element">{{ element.year }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" >
          @if(status == 'true'){
          <button mat-raised-button color="primary" (click)="openDialog(element)">Edit</button>
          <button mat-raised-button color="warn" (click)="onDelete(element.id)">Delete</button>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>
