<form [formGroup]="form">
    <h1 mat-dialog-title>{{input.title}}</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" [defaultValue]="input.name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" formControlName="description" [defaultValue]="input.description">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Category" formControlName="category">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Faculty Section" formControlName="facultySection" [readonly]="checkTitle()">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Maximum Students Allowed" formControlName="maximumStudentsAllowed">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Teacher Name" formControlName="teacherName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Year" formControlName="year" [readonly]="checkTitle()">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button (click)="close()" mat-button mat-dialog-close>Close</button>
        <button (click)="save()" mat-button [disabled]="form.invalid">Save</button>
    </div>
</form>
