<app-sidebar></app-sidebar>
<app-course-info [courseId]="courseId"></app-course-info>
<div class="course-details">

<mat-card>
    <mat-card-header>
        <mat-card-title> Students </mat-card-title>
    </mat-card-header>
    <mat-card-content style=" margin: 30px; padding: 10px; border-radius: 2rem;  border: 3px solid black;">
        <table matSort mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="goToStudentDetails(element.id)"> {{element.name}} </button>
                    </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="facultySection">
                <th mat-sort-header *matHeaderCellDef> Faculty Section </th>
                <td mat-cell *matCellDef="let element"> {{element.facultySection}} </td>
            </ng-container>

            <ng-container matColumnDef="year">
                <th mat-sort-header *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>

            <ng-container matColumnDef="grade">
                <th mat-sort-header *matHeaderCellDef> Grade </th>
                <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </mat-card-content>
    <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons style="background-color: red;"></mat-paginator>
    </mat-card-footer>
</mat-card>


