
<div class="course-details">
    <div class="header">
      <h2>{{ course?.name }}</h2>
    </div>
    <div class="schedule">
        <h2>Schedule</h2>
        @if(courseSchedule != undefined){
            <p><strong>Day:</strong> {{ courseSchedule.day }}</p>
            <p><strong>Start Time:</strong> {{ courseSchedule.startTime }}</p>
            <p><strong>End Time:</strong> {{ courseSchedule.endTime }}</p>
        }
        @else{
            <p><strong>No schedule available</strong></p>
        }
    </div>
    @if(status == 'false'){
      @if(role == 'ADMIN'){
        @if(courseSchedule != undefined){
            <button (click)="openDialog()">Edit Schedule</button>
        }
        @else{
            <button (click)="openDialog()">Add Schedule</button>
        }
        <button (click)="exportPDF()">Export PDF</button>
      }
    }
</div>