<app-sidebar></app-sidebar>
<app-student-info [studentId]="user?.id"></app-student-info>
<div class = priority-container [ngStyle]="status === 'false' ? {'pointer-events': 'none', 'user-select': 'none', 'opacity': '0.6'} : {}">
<div class="dragAndDrop">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let enroll of enrollments_list; let i = index" cdkDrag>
      <span class="number">{{ i + 1 }}</span>
      <span>{{ enroll.courseName }}</span>
      <span>{{ enroll.status }}</span>
      <span>
        <button (click)="delEnrollment(enroll.id || 0)">Delete Enrollment</button>
      </span>
    </div>
  </div>
</div>
<button class="save-button" mat-button (click)="saveOrder()">Save</button>
</div>